@mixin widthHeight($width: 100vw, $height: calc(100vh - 50px)) {
    width: $width;
    height: $height;
}

@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin resetInput($outline: none, $border: none) {
    outline: $outline;
    border: $border;
}

@mixin view1024 {
    @media (max-width: 1024px) {
        @content;
    }
}
